#clock{
   margin: auto;
   position: relative;
   border: 2px solid blue;
   width: 40vw;
   height: 40vw;
   background: url(clock.png) no-repeat;
   background-size: 100%;
}

#hour, #min, #sec{
   position: absolute;
   background-color: black;
   border-radius: 10px;
   transform-origin: bottom;
}

#hour{
   width: 1%;
   height: 25%;
   top: 25%;
   left: 49.3%;

}
#min{
   width: .75%;
   height: 30%;
   top: 20%;
   left: 49.375%;
   
}
#sec{
   width: .5%;
   height: 35%;
   top: 15%;
   left: 49.55%;
}